.small {
  border-radius: 50%;
  width: 20px;
  height: 20px;

  border: solid 2px;
  border-top-color: $green;
  border-right-color: $green;
  border-bottom-color: $green;
  border-left-color: transparent;
  box-sizing: border-box;
  animation: circle infinite 1s linear;

  @keyframes circle {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
