.mediocre {
  border: none;

  cursor: pointer;
  border-radius: 0.5rem;
  padding: 13px 18px;
  font-size: 15px;
  font-weight: 500;
  background-color: $white_gray;
  color: $black;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.2s ease-out;

  &:hover {
    transition: background-color 0.2s ease-out;
    background-color: $gray;
  }
}
